@{
    ViewBag.Title = "Home Page";
}

<main>
    <link rel="stylesheet" href="~/Content/Styles/IndexStyle.css" type="text/css" />
    <div class="row bigContainer">
        <a href="/Users" class="col-md-3 container2" aria-labelledby="usersTitle">
            <h2 id="usersTitle">Users</h2>
            <ul>
                <li> See all details of a User </li>
                <li> See all User </li>
                <li> Delete a User </li>
                <li> Edit a User </li>
                <li> Add a User </li>
            </ul>
            <img class="image" src="~/Assets/User_Icon.png" />
        </a>
        <a href="/Apartment" class="col-md-3 container2" aria-labelledby="appartmentsTitle">
            <h2 id="appartmentsTitle">Appartments</h2>
            <ul>
                <li> See all details of an Appartment </li>
                <li> See all Apartments </li>
                <li> Delete an Apartment </li>
                <li> Edit an Apartment </li>
                <li> Add an Apartment </li>
            </ul>
            <img class="image" src="~/Assets/buildings.png" />
        </a>
        <a href="/Reservation" class="col-md-3 container2" aria-labelledby="reservationsTitle">
            <h2 id="reservationsTitle">Reservations</h2>
            <ul>
                <li> See all details of a Reservation </li>
                <li> See all Reservations </li>
                <li> Cancel a Reservation </li>
                <li> Edit a Reservation </li>
                <li> Make a Reservation </li>
            </ul>
            <img class="image" src="~/Assets/reservation.png" />
        </a>
    </div>
</main>